.shop-header{
    background-image: url('../media/images/galaxe5.png');
    background-size: cover;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
.shop-header h1{
    font-size: 2.5rem;
}
.shop-header p{
    font-size: 1.25rem;
}

/* Bouton flottant en bas à droite */
.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1050;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

/* Personnalisation de la superposition */
.offcanvas {
    width: 80%; /* Ajuster selon le besoin */
    max-width: 400px;
}