.shop-header{
    background-image: url('../media/images/galaxe5.png');
    background-size: cover;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
.shop-header h1{
    font-size: 2.5rem;
}
.shop-header p{
    font-size: 1.25rem;
}

/* Bouton flottant en bas à droite */
.arrow-button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1060;
    background-color: red;
    color: white;
}

/* notification flottante en bas à gauche */
.arrow-notification{
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1060;
}

/* Personnalisation de la superposition */
.c-overlay{
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.c-overlay-content{
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    /*width: auto;*/
    max-height: 80%;
    overflow: auto;
}

/* css du card de shop*/
.card_shop{
    background-color: #f8f9fa;
  }


.img-container-cart {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.img-container-cart img {
    height: 90%;
}